@model IEnumerable<Song>

<h2>Artists</h2>
<table class="table">
    <tr>
        <th>Artist</th>
    </tr>

    @foreach (var song in @Model)
    {
            <tr>
                <td><a href=/Song/ViewArtist/@song.ArtistID>@song.Artist</a></td>    
            </tr>
    }

</table>
<form>
    <div class="d-grid gap-2">
        <a id="button" class="btn btn-outline-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </div>
</form>
