@{
    ViewData["Title"] = "Home Page";
}


  <video playsinline autoplay muted loop>
        <source src="~/video/record%20player.mp4" type="video/webm">
  </video>

<div class="header">
    <h1>Search for songs based on:</h1>
</div>



