@model IEnumerable<Song>
@{
    ViewData["Title"] = "Home Page";
}



  <video playsinline autoplay muted loop>
        <source src="~/video/record%20player.mp4" type="video/webm">
  </video>

<div class="header">
    <h1>Search for music based on:</h1>
</div>
<br/>


    <form>
        <div class="d-grid gap-2">
             <a id="button" class="btn btn-outline-light" asp-area="" asp-controller="Song" asp-action="Index">Song</a>        
        </div>
    </form>

    <br/>

    <form>
        <div class="d-grid gap-2">
             <a id="button" class="btn btn-outline-light" asp-area="" asp-controller="Song" asp-action="ViewAllArtist">Artist</a>        
        </div>
    </form>

    <br/>

    <form>
        <div class="d-grid gap-2">
             <a id="button" class="btn btn-outline-light" asp-area="" asp-controller="Song" asp-action="ViewAllAlbum">Album</a>        
        </div>
    </form>

    <br/>


    





