html {
  font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    
  }
}

html {
    position: relative;
    min-height: 100%;
    
}

body {
    
    margin-bottom: 60px;
    background-image: url('../images/guitar background 4.jpg');
    background-size: cover;
    
}

video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.header {
    position: relative;
    height: 4.5vh;
    width: 100vh;
    text-align: center;
    justify-content: center;
    color: antiquewhite;
    font-family: 'Fugaz One';
    display: flex;
    justify-content: space-around;
    background: rgba(0,0,0,0.5); 
    border-radius: 20px;
}

nav {
    z-index: 1;
    
}

table {

    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-family: 'Fugaz One';
    display: flex;
    justify-content: space-around;
    background: rgba(0,0,0,0.50);
    border-radius: 20px;

}
h2 {
    font-family: 'Fugaz One';
    color: antiquewhite;
    text-align: center;
    justify-content: center;
    background: rgba(0,0,0,0.50) !important;
    border-radius: 20px;
}

h3 {
    font-family: 'Fugaz One';
    color: antiquewhite;
    text-align: center;
    justify-content: center;
    background: rgba(0,0,0,0.50) !important;
    border-radius: 20px;
}

h4 {
    font-family: 'Fugaz One';
    color: antiquewhite;
    text-align: center;
    justify-content: center;
    background: rgba(0,0,0,0.50) !important;
    border-radius: 20px;
}

#button {
    z-index: 1;
    font-family: 'Fugaz One';
    color: antiquewhite !important;
    background: rgba(0,0,0,0.50) !important;
}

form {
    z-index: 1;

}

td {
    color: antiquewhite;
}

th {
    color: antiquewhite;
}

a:link {
    color:  aliceblue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: aliceblue;
    background-color: transparent;
    text-decoration: none;
}

searchbar {
    
}